@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('Content/fonts/glyphicons-halflings-regular.eot');
  src: url('Content/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded- opentype'), url('Content/fonts/glyphicons-halflings-regular.woff') format('woff'), url('Content/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('Content/fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

body {
  font: 14px "Helvetica", Helvetica, Arial, sans-serif;
  padding-bottom: 40px;
  background-color: #eee;
}
a {
  color: #00B7FF;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
  font-size: 18px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.authLink {
  color: #289388; 
  text-decoration: none;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
 
}



.navbar-inverse{
  background-color: #00897B;
  color: #fff;
}

.navbar-inverse .navbar-nav>li>a{
  color: #fff;
}

.navbar-inverse .navbar-nav>li>a:hover{
  color: #fff;
  background-color: #00695C;
}


#sidebar{
  position: static;
}

.panel-primary {
  border-color: #00695C;
}
.panel-primary > .panel-heading {
  color: #fff;
  background-color: #00897B;
  border-color: #00695C;
}
.panel-primary > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #00897B;
}
.panel-primary > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #00695C;
}

.panel-primary > ul > li > span.stockSymbol {
  color: #00695C;
}

.ibox-content1 > ul > li:hover {
  background-color: #26A69A;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
}


.ibox-content1 > ul > li:hover span.stockSymbol{
  color: #fff;
}

.posSentiment{
  color: green;
}

.negSentiment{
  color: red;
}

.rAlign{
  float: right;
  margin-right: 20px;
  font-weight: bold;
}

.huge{
  font-size:34px;
  font-weight: bold;
  font-family: Arial;
  margin-bottom: 10px;
}

.name{
  font-weight: bold;
  font-size: 20px;
}

.panel-red .panel-heading{
  background-color: tomato;
}

.panel-green .panel-heading{
  background-color: limegreen;
}

.ibox {
  clear: both;
  margin-bottom: 25px;
  margin-top: 0;
  padding: 0;
}

.ibox-title {
  background-color: #00897B;
  border-color: #e7eaec;
  border-image: none;
  border-style: solid solid none;
  border-width: 4px 0px 0;
  color: #fff;
  margin-bottom: 0;
  padding: 14px 15px 7px;
  min-height: 48px;
}

.ibox-title h5 {
  display: inline-block;
  font-size: 16px;
  font-weight:bold;
  margin: 0 0 7px;
  padding: 0;
  text-overflow: ellipsis;
  float: left;
}

.ibox-tools a {
  cursor: pointer;
  margin-left: 5px;
  color: #fff;
}

.ibox-tools {
  display: inline-block;
  float: right;
  margin-top: 0;
  position: relative;
  padding: 0;
}

.ibox-content,.ibox-content1 {
  background-color: #ffffff;
  color: inherit;
  padding: 15px 20px 20px 20px;
  border-color: #e7eaec;
  border-image: none;
  border-style: solid solid none;
  border-width: 1px 0px;
}

.no-padding {
  padding: 0 !important;
}

.no-padding .list-group {
  margin-bottom: 0;
}

.list-group {
  padding-left: 0;
  margin-bottom: 20px;
}

.feed-element:first-child {
  margin-top: 0;
}

.highcharts-range-selector-buttons{
  display: none;
}

.btn-primary, .btn-primary:hover, .btn-primary:active{
  background-color: #00695C;
}

.alert .alert-danger .row{
  width: 50%;
  margin: 0 auto;
}